---
Checks: 'performance-*, modernize-*, portability-*, -modernize-use-trailing-return-type, -performance-trivially-destructible, -modernize-avoid-c-arrays, -modernize-use-designated-initializers'
WarningsAsErrors: 'performance-*, portability-*'